body {
  text-align: center;
}

.bigDiv {
  border: 1px solid #d8dee2;
  width: 340px;
  height: 422px;
  position: relative;
  margin: 0 auto;
}

button {
  width: 66px;
  height: 50px;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 18px;
  font-size: 25px;
}

input {
  width: 255px;
  height: auto;
  font-size: 25px;
  margin-left: -13px;

}

p {
  font-size: 22px;
  margin-left: 33px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
}
